html {
  background: black;
  color: #a5feee;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap;
}

html a {
  text-decoration: none;
  color: inherit;
}

html .social-media {
  color: white;
}

html header {
  text-align: right;
  padding: 1.5em 1em;
}

html header a {
  margin-left: 0.5em;
}

html section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html section:first-child {
  background: #191919;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5em 0;
}

@media (max-width: 360px) {
  html section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 0em;
  }
}

html section:first-child img {
  width: 50%;
  height: 35em;
  max-width: 27em;
}

@media (max-width: 360px) {
  html section:first-child img {
    width: 85%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child img {
    width: 85%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child img {
    width: 85%;
  }
}

html section:first-child div {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 360px) {
  html section:first-child div {
    width: 100%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child div {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child div {
    width: 100%;
  }
}

html section:first-child div h1 {
  font-size: 4em;
  margin-bottom: 0;
}

html section:first-child div p {
  font-size: 1.1em;
  color: white;
  margin-bottom: 5em;
}

@media (max-width: 360px) {
  html section:first-child div p {
    margin-bottom: 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child div p {
    margin-bottom: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child div p {
    margin-bottom: 2em;
  }
}

html section:first-child div .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 360px) {
  html section:first-child div .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child div .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child div .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.5em;
  }
}

html section:first-child div .btns button {
  padding: 1em;
  border-radius: 1.5em;
}

@media (max-width: 360px) {
  html section:first-child div .btns button {
    font-size: 0.8em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child div .btns button {
    font-size: 0.8em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child div .btns button {
    font-size: 0.8em;
  }
}

html section:first-child div .btns a:first-child {
  margin-right: 1em;
}

@media (max-width: 360px) {
  html section:first-child div .btns a:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html section:first-child div .btns a:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html section:first-child div .btns a:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

html section:first-child div .btns a:first-child button {
  background: #191919;
  color: #a5feee;
  border: 1px solid #a5feee;
}

html section:first-child div .btns a:last-child button {
  background: #a5feee;
  color: #191919;
  border: 0px;
}

html .music {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 10em;
  margin-top: 1em;
}

html .music h2 {
  font-size: 2.25em;
  margin-bottom: 2.5em;
}

@media (max-width: 360px) {
  html .music h2 {
    margin-bottom: 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .music h2 {
    margin-bottom: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .music h2 {
    margin-bottom: 2em;
  }
}

html .music .albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .music .albums .col-right {
  margin-top: 8em;
}

@media (max-width: 360px) {
  html .music .albums .col-right {
    margin-top: 0;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .music .albums .col-right {
    margin-top: 0;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .music .albums .col-right {
    margin-top: 0;
  }
}

html .music .albums .album {
  margin-bottom: 6em;
  color: white;
}

@media (max-width: 360px) {
  html .music .albums .album {
    margin-bottom: 8em !important;
  }
  html .music .albums .album:last-child {
    margin-bottom: 4em !important;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .music .albums .album {
    margin-bottom: 8em !important;
  }
  html .music .albums .album:last-child {
    margin-bottom: 4em !important;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .music .albums .album {
    margin-bottom: 8em !important;
  }
  html .music .albums .album:last-child {
    margin-bottom: 4em !important;
  }
}

html .music .albums .album .title {
  font-size: 1.2em;
  color: #a5feee;
  margin: 2em auto 1.8em;
}

html .music .albums .album .date {
  margin-bottom: 2em;
}

html .music .albums .album .track {
  font-size: 0.95em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

html .music .albums .album .tracks {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

html .music .albums .album .tracks li:before {
  content: counter(item) " ";
  counter-increment: item;
}

html .music .albums .album .tracks li {
  font-size: 0.95em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

html .music .albums #primal {
  margin-bottom: 12em;
}

html .music .albums #tiwifl {
  margin-bottom: 7em;
}

html .music .albums #the-end {
  margin-bottom: 15em;
}

html .about {
  background: #191919;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 6em 0;
}

@media (max-width: 360px) {
  html .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4em 0;
  }
  html .about img {
    width: 85%;
    margin: 0 auto 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4em 0;
  }
  html .about img {
    width: 85%;
    margin: 0 auto 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4em 0;
  }
  html .about img {
    width: 85%;
    margin: 0 auto 1em;
  }
}

html .about div {
  width: 50%;
  max-width: 28em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (min-width: 737px) and (max-width: 980px) {
  html .about div {
    width: 45%;
  }
}

@media (max-width: 360px) {
  html .about div {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  html .about div img {
    margin-bottom: 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .about div {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  html .about div img {
    margin-bottom: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .about div {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  html .about div img {
    margin-bottom: 2em;
  }
}

html .about div h2 {
  font-size: 1.6em;
  color: #a5feee;
}

html .about div span {
  margin: 1em 0;
}

html .about div p {
  line-height: 1.5em;
  margin-bottom: 3em;
}

html .about div button {
  background: #191919;
  color: #a5feee;
  padding: 0.95em 1.5em;
  border: 1px solid #a5feee;
  border-radius: 1.5em;
  font-size: 0.8em;
}

html .contact {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5em 0;
  color: white;
}

@media (max-width: 360px) {
  html .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2em;
  }
}

html .contact img {
  width: 49%;
  max-height: 45em;
  max-width: 30em;
}

@media (max-width: 360px) {
  html .contact img {
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .contact img {
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .contact img {
    width: 85%;
    margin: auto;
  }
}

html .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 48%;
}

@media (max-width: 360px) {
  html .contact div {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .contact div {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .contact div {
    width: 98%;
    margin: auto;
  }
}

html .contact div h2 {
  color: #a5feee;
  font-size: 2em;
}

html .contact div .social-media {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em auto 3em;
  width: 40%;
}

html .contact div .social-media a {
  font-size: 1.25em;
}

html .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .contact form div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

html .contact form div input {
  width: 44%;
}

@media (max-width: 360px) {
  html .contact form div input {
    width: 42%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html .contact form div input {
    width: 42%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html .contact form div input {
    width: 42%;
  }
}

html .contact form #message {
  line-height: 1.5em;
}

html .contact form input {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 1em;
  margin-bottom: 0.8em;
}

html .contact form input[type="submit"] {
  color: black;
  background: white;
  margin-top: 2em;
}

html .contact form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

html .contact form input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

html .contact form input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

html .contact form input::placeholder {
  color: white;
  opacity: 1;
}

html .subscribe {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  color: white;
}

html .subscribe h3 {
  margin-bottom: 0;
  font-size: 1.3em;
}

html .subscribe p {
  margin-top: 0;
}

html .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

html .subscribe form input {
  background: black;
  border: 1px solid white;
  padding: 1em;
  margin-bottom: 0.8em;
}

html .subscribe form input[type="submit"] {
  color: black;
  background: white;
}

html .subscribe form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

html .subscribe form input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

html .subscribe form input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

html .subscribe form input::placeholder {
  color: white;
  opacity: 1;
}

html footer {
  color: white;
  margin: 5em auto 2em;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 360px) {
  html footer {
    margin-top: 4em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  html footer {
    margin-top: 4em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  html footer {
    margin-top: 4em;
  }
}

html footer .social-media {
  margin: 1.5em auto;
}

html footer a p {
  text-decoration: underline;
}

html footer .copy {
  font-size: 0.8em;
}

html footer #bsm {
  color: whitesmoke;
  font-size: 0.8em;
  margin-bottom: 0;
}

html footer #mop {
  color: #a5feee;
  font-size: 0.8em;
}

@media (min-width: 737px) and (max-width: 980px) {
  html footer #mop {
    display: none;
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  html footer #mop {
    display: none;
  }
}

@media (min-width: 1281) and (max-width: 1680px) {
  html footer #mop {
    display: none;
  }
}

@media (min-width: 1681px) {
  html footer #mop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */