@import "../breakpoints/BreakPoints.scss";

html {
  background: black;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap;
  // background-image: url("./digitized.png");
  // background-size: 30em;
  // background-repeat: no-repeat;
  // background-position: 25em 5em;
  // @include breakpoint(xxs, xs, s, m) {
  //   background-position: -3em 5em;
  //   background-size: 45em;
  // }
  // @include breakpoint(xs) {
  //   background-position: -4em 5em;
  // }
  // @include breakpoint(xxs) {
  //   background-position: -5em 5em;
  // }

  a {
    text-decoration: none;
    color: inherit;
  }
  .social-media {
    color: white;
  }
  header {
    text-align: right;
    padding: 1.5em 1em;
    a {
      margin-left: 0.5em;
    }
  }
  section {
    text-align: left;
    color: white;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    position: relative;

    img {
      position: absolute;
      z-index: -1;
      margin-left: 40%;
      margin-top: -10%;
      @include breakpoint(s, m) {
        margin-left: 15%;
        margin-top: -20%;
      }
      @include breakpoint(xxs, xs) {
        margin-left: 0%;
        margin-top: -20%;
      }
    }

    h1 {
      font-size: 4em;
      margin-top: 4em;
      margin: 4em auto 0.125em;
    }
    p {
      color: white;
      margin-bottom: 2em;
    }
    .date {
      font-size: 1.3em;
      margin-bottom: 3em;
      font-weight: 800;
    }
    .cta {
      display: flex;
      flex-direction: column;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      align-items: center;

      button {
        background: black;
        color: #a5feee;
        border: 1px solid #a5feee;
        padding: 1em;
        font-size: 0.8em;
        border-radius: 1.5em;
      }
      .listen-btn {
        font-size: 1.1em;
        margin-bottom: 1em;
      }
    }
  }
  footer {
    color: white;
    margin: 15em auto 2em;
    text-align: center;
    flex-direction: column;
    @include breakpoint(xxs, xs, s) {
      margin-top: 4em;
    }

    .social-media {
      margin: 1.5em auto;
    }
    a {
      p {
        text-decoration: underline;
      }
    }
    .copy {
      font-size: 0.8em;
    }
    #bsm {
      color: whitesmoke;
      font-size: 0.8em;
      margin-bottom: 0;
    }
    #mop {
      color: #a5feee;
      font-size: 0.8em;
      @include breakpoint(m, l, xl, xxl) {
        display: none;
      }
    }
  }
}
